:root {
    --background-color-dark: #1F2937;
    --background-color-light: #3882F6;
    --text-color-main: #F9FAF8;
    --text-color-secondary: #E5E7EB;
    --font-size-large: 48px;
    --font-size-medium: 36px;
    --font-size-small: 24px;
    --font-size-tiny: 18px;
    --font-weight-large: 900;
    --site-padding: 20px 100px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

body * {
    margin: 0px;
}

/* header and footer */
header,
footer {
    display: flex;
    background-color: var(--background-color-dark);
    align-items: center;
    padding: var(--site-padding);
}

header {
    justify-content: space-between;
}

.logo {
    color: var(--text-color-main);
    font-size: var(--font-size-medium);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-size: var(--font-size-tiny);
}

footer {
    justify-content: center;
    padding: 20px;
    color: var(--text-color-secondary);
}

/* common */

button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 12px;
}

/* .site intro */
.site-intro {
    background-color: var(--background-color-dark);
    display: flex;
    padding: var(--site-padding);
    justify-content: space-between;
    gap: 30px;
}

.site-intro-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 30px;
}

.site-intro-image {
    background-color: gray;
    text-align: center;
    color: var(--text-color-secondary);
    align-content: center;
    flex: 1 1 50%;
}

.site-intro h2 {
    font-size: var(--font-size-large);
    color: var(--text-color-main);
    font-weight: var(--font-weight-large);
}

.site-intro p {
    font-size: var(--font-size-tiny);
    color: var(--text-color-secondary);
}

.site-intro button {
    background-color: var(--background-color-light);
    color: var(--text-color-secondary);

}